<a href="don">丼物</a>
<a href="curry">カレー</a>
<a href="drink">ドリンク</a>
<a href="gyuumeshi">牛飯</a>
<a href="morning">朝御飯</a>
<a href="side">サイドメニュー</a>
<a href="teishoku">定食</a>
<a href="udon">うどん</a>
<a href="topping">トッピング</a>
<a href="random">ランダム</a>