<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet", href="css/menus-min.css">
    <link rel="stylesheet", href="css/skeleton.css">
    <link rel="stylesheet", href="css/style.css">
  </head>

  <body>
  <h1>松屋メニュー</h1>

  <%= yield %>

  <br>
  <a href="/">Back to Home</a>
  <p>
  <small> &copy;2018 <a href="https://twitter.com/intent/user?user_id=3503112972">Studio 4単位/Eniehack</a></small>
  </p>
  </body>
</html>